{% extends 'base/base.html' %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
{% block body %}

{% if form.errors %}
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
            an error occurred while processing your request
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
{% endif %}
	<div class="shadow p-4 mb-5 bg-body rounded">
	<h1>Register</h1>
<br/>
		<form method=POST>
			{% csrf_token %}
			{{ form.nick_name | as_crispy_field }} <br>
			{{ form.email | as_crispy_field }} <br>
			{{ form.password | as_crispy_field }} <br>

			<br/>
			<input type="submit" value="Submit" class="btn btn-success">
		</form>
</div>
<br/><br/>
{% endblock %}
</body>
</html>