{%extends 'base/base.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Detail</title>
</head>
<body>
{%block body%}
    <table class="table table-striped table-hover table-bordered">
        <td>
                  <div class="card-body">
                    <h5 class="card-title">Title: {{object.title}}</h5>
                    <hr>
                    <div class="mb-3">
                        <li>Password: {{password}}</li><hr>
                    </div>
                    <br>
                    <button class="btn btn-outline-success btn-sm">Update</button>
                </div>
        </td>
    </table>
{%endblock%}
</body>
</html>