{%extends 'base/base.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Detail</title>
</head>
<body>
{%block body%}
    <table class="table table-striped table-hover table-bordered">
        <td>
                  <div class="card-body">
                    <h5 class="card-title">Title: {{object.title}}</h5>
                    <hr>
                    <div class="mb-3">
                        <li id="password">Password: {{password}}</li><hr>
                    </div>
                    <br>
                    <a href="{% url 'password:update' object.id object.token %}" class="btn btn-outline-secondary btn-sm">Update</a>
				    <a href="{% url 'password:delete' object.id object.token %}" class="btn btn-outline-danger btn-sm">Delete</a>
                </div>
        </td>
    </table>
{%endblock%}

</body>
</html>