{% extends 'base/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All passwords</title>
</head>
<body>
{%block body%}
    <table class="table table-striped table-hover table-bordered">
        {% for password in object_list %}
            <tr>
                <td>
                    <a href="{% url 'password:detail' password.token %}">{{password}}</a>
                </td>
                <td align="right">
                    <a href="{% url 'password:update' password.token %}" class="btn btn-outline-secondary btn-sm">Update</a>
                    <a href="{% url 'password:delete' password.token %}" class="btn btn-outline-danger btn-sm">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{%endblock%}
</body>
</html>